* {
  margin: 0;
  padding: 0;
  font-family: "Smythe", system-ui;
}
* header {
  color: #ffffff;
}
* header .container {
  background-image: url(../images/header.jpg);
  background-position-y: -153px;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  max-width: 600px;
  height: 193px;
  margin: 0 auto;
}
* header .container #header_container {
  position: absolute;
  left: 46px;
  top: 46px;
}
* header .container h1 {
  font-size: 39px;
  top: 46px;
}
* header .container h2 {
  font-size: 22px;
  top: 50px;
}
* main .menu_container {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
* main .menu_container .meal-container {
  display: flex;
  justify-content: space-around;
  margin: 30px auto 0 auto;
  width: 508px;
  height: 140px;
  border-bottom: solid 1.5px #8b8b8b;
}
* main .menu_container .meal-container .emoji {
  font-size: 78.72px;
  opacity: 72%;
  width: 70px;
  margin-right: 2.5rem;
}
* main .menu_container .meal-container .meal-description {
  width: 300px;
}
* main .menu_container .meal-container .meal-description .meal-name {
  font-size: 28px;
}
* main .menu_container .meal-container .meal-description .meal-ingredients {
  font-size: 16px;
  color: #8b8b8b;
  margin-top: 10px;
}
* main .menu_container .meal-container .meal-description .meal-price {
  font-size: 20px;
  margin-top: 15px;
}
* main .menu_container .meal-container .add-btn {
  display: inline-block;
  background-color: transparent;
  line-height: 24px;
  width: 50px;
  height: 50px;
  font-size: 50px;
  font-weight: 100;
  font-family: inter;
  border-radius: 50%;
  border: solid 1.5px #dedede;
  cursor: pointer;
  padding-bottom: 8px;
}
* main .order_container {
  display: none;
  flex-direction: column;
  margin: 100px auto 0 auto;
  width: 508px;
  height: 319px;
  font-size: 28px;
}
* main .order_container h1 {
  font-size: 28px;
  text-align: center;
  margin-bottom: 30px;
}
* main .order_container .meal_container .meal {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
* main .order_container .meal_container .meal .mealName {
  margin-right: -140px;
}
* main .order_container .meal_container .meal .remove-btn {
  font-size: 12px;
  color: #bbbbbb;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
* main .order_container .meal_container .meal #quantity-ordered {
  font-size: 17px;
  font-weight: bold;
  color: white;
  background-color: #16db99;
  border-radius: 50%;
  position: relative;
  right: 130px;
  padding: 5px;
  width: 20px;
  text-align: center;
}
* main .order_container .discount_countainer {
  display: none;
  justify-content: space-between;
}
* main .order_container .total {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
* main .order_container #order_btn {
  align-items: center;
  justify-content: center;
  color: #ffffff;
  height: 60px;
  background-color: #16db99;
  border: none;
  margin-top: 30px;
  font-size: 16px;
  cursor: pointer;
  font-family: verdana;
}
* main .payment_container {
  display: none;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  width: 524px;
  height: 542px;
  background-color: #ffffff;
  border: 1.3px solid #757575;
}
* main .payment_container .form_container {
  margin: 0 auto;
  max-width: 476px;
}
* main .payment_container .form_container .close-btn {
  font-family: verdana;
  position: absolute;
  top: 2%;
  right: 2%;
  background-color: transparent;
  border: 2px solid #555;
  color: #555;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 14px;
  cursor: pointer;
}
* main .payment_container .form_container h2 {
  text-align: center;
  padding: 35px 0;
  font-family: Verdana;
  font-size: 24px;
}
* main .payment_container .form_container input {
  font-family: Verdana;
  padding: 10px;
  width: calc(100% - 20px);
  height: 61px;
  font-size: 20px;
  margin-bottom: 20px;
  border: 1.3px solid #757575;
  border-radius: 3.89px;
  font-size: 20px;
}
* main .payment_container .form_container #payment-btn {
  width: 100%;
  height: 71px;
  background-color: #16db99;
  font-weight: 20px;
  color: #ffffff;
  border: none;
  margin-top: 20px;
  cursor: pointer;
  font-family: Verdana;
  font-size: 20px;
}
* main .greeting_container {
  display: none;
  align-items: center;
  justify-content: center;
  width: 504px;
  height: 120px;
  background-color: #ecfdf5;
  margin: 50px auto 100px auto;
  color: #065f46;
  font-size: 32px;
}

/*# sourceMappingURL=style.css.map */
